# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
capstoneenv/

# Dataset directories
animal-dataset/
animal-dataset-yolo/
downloaded_datasets/

# IDE
.vscode/
.idea/
runs
wandb

# System files
.DS_Store
Thumbs.db


*.jpg
*.txt
uktamnishonov
uktamnishonov.pub